<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
		<!-- Create Tables in database (but it doesn't drop them) -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Set Conextion to database-->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/instituto</property>
		<!-- Set User Name -->
        <property name = "hibernate.connection.username">root</property>
        <!-- Set Password -->
        <property name = "hibernate.connection.password">root</property>
        <!-- Set Driver -->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- Show register of SQL -->
		<property name = "hibernate.show_sql">true</property>
        <!-- Mapping the entities with their tables -->
		<mapping resource="Student.hbm.xml"/>
		<mapping resource="Professor.hbm.xml"/>
		<mapping resource="Subject.hbm.xml"/>
		<mapping resource="Schedule.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>